@import "../../scss/mixin.scss";
.main{
    // height: 100vh;
    //  background-color:  #f0e399;
    // background-image: url("/Assets/img/Elements.svg");
    // width: 100%;
    // opacity: 0.7;
    display: flex;
    // max-width: 1350px;
    // justify-content: center;
    // align-items: center;
    // margin: 0 auto;
    // height: 100%;
    min-height: 100vh;
    // overflow: hidden;
    @include breakpoint-down(sm){
        width: inherit;
        height: inherit;
    }
}
.ant-layout{
    background-color: rgba(245, 181, 68, 0.3);

}
.ant-layout .ant-layout-sider {
    // max-width: 300px;
    //  max-height: 1024px;
     background-color: white;
    // display: block;
    // height: 100vh;
    display: flex;
    justify-content: center;
}
.ant-layout-sider-children{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header {
    display: flex;
    // width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
    // background-color: rgba(245, 181, 68, 0.3);

    .left-header{
        position: relative;
    }

    .icon {
        position: absolute;
        top: 18px;
        left: 14px;
    }

    .searchbar {
        border: none;
        color: #888888;
        border-radius: 5px;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        outline: medium none;
        padding: 0 0 0 35px;
        text-shadow: 1px 1px 0 white;
        width: 385px;
    }
    .right-header{
        display: flex;
        gap:15px;
        .groupBtn{
            background-image: url("../../Assets/img/Group.svg");
            background-position: center;
            width: 50px;
            height: 50px;
            background-color: white;
            background-repeat: no-repeat;
            border-radius: 10px;
          
        }
        .ant-btn >span{
            font-weight: 900;
            margin: 0 5px;
        }

    }


}